
.tab {
    position:absolute;
    right:6%; 
    color: #0091da;
}


.marginsLight{
    margin-left: 7%;
    margin-right: 7%;
}

/* .modeButton{

} */

.ionSegmentText {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    
}

.moveLeft {
    right: 4%;
}

.ionSegmentButton {
    --background-checked: #f5fcff;
    text-transform: none;
}


.margins{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #434343;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
}



.button {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
}

.resize {
    margin: auto;
    width: 100%;
}

.ionProgressBar {
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 525;
    font-size: 17px;
    color: #434343;
    margin: 8px;
    -webkit-text-stroke-width: 0.4px;
}

.titleSquare{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #434343;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.smallTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 525;
}
    
.ion-toggle {
    --background: #0091da;
    --background-checked: #0091da;
  
    --handle-background: white;
    --handle-background-checked: white;

}


.centered {
    height: 0vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12%;
    margin-left: auto;
    margin-right: auto;
}

.ionContent {
    height: 25vh
}

.flexRight {
    float: right;
    margin: 10px;
}

